@charset "utf-8";
main{
    width: 500px;
    margin: auto;
    background-color:   #ffe6ff;
}
body{
    background-color: #e6b3e6;
}
article{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 10px;
    width: 200px;
    padding: 2px;
    margin: auto;
    
}
article div{
    background: rebeccapurple;
    border: 1px solid gray;
    border-radius: 50%;   
}

header,footer{
    text-align: center;
}